
	<div id='lgo'>
		<div id='goo'>
			<span></span><span>R</span><span>o</span><span>u</span><span>l</span><span>e</span><span>t</span><span>t</span><span>e</span><span>S</span><span>t</span><span>y</span><span>l</span><span>e</span>
			<div id='betaTag'>beta</div>
		</div>
	<div id='search'>
		<input type='text' placeholder='Search Shoes'>
	</div>
	<div id='searchIns'>Press Enter</div>
	</div>
	<div id='statusBar'>

	</div>
		<div class='actionCall'>Welcome, Pick One:</div>
		<div class='firstOptions'>
			<div id='womenStart' class='firstImageHolder'>
				<img src="<%=@women.inner_text %>" />
				<div class='startLabel'>Women</div>
			</div>
			<div id='menStart' class='firstImageHolder'>
				<img src="<%=@men.inner_text %>" />
				<div class='startLabel'>Men</div>
			</div>
		</div>

	<div class='actionCall or'>Or, Pick a Category:</div>

	<div id='categories'>

		<div id='woCat' class='catCont'>
			<div id='Womens Top' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wTop.jpg') %>
				</div>
				<div class='subCatLabel'>Tops</div>
			</div>
			<div id='Womens Dress' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wDress.jpg') %>
				</div>
				<div class='subCatLabel'>Dresses</div>
			</div>
			<div id='Womens Pants' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wJeans.jpg') %>
				</div>
				<div class='subCatLabel'>Pants</div>
			</div>
			<div id='Womens Shorts' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wShorts.jpg') %>
				</div>
				<div class='subCatLabel'>Shorts</div>
			</div>
			<div id='Womens Skirts' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wSkirt.jpg') %>
				</div>
				<div class='subCatLabel'>Skirts</div>
			</div>
			<div id='Womens Jacket' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wJacket.jpg') %>
				</div>
				<div class='subCatLabel'>Jackets</div>
			</div>
			<div id='Womens lingerie' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wSwim.jpg') %>
				</div>
				<div class='subCatLabel'>Tops</div>
			</div>
			<div id='Womens Shoes' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wShoes.jpg') %>
				</div>
				<div class='subCatLabel'>Shoes</div>
			</div>
			<div id='Womens Accessories' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wAcc.jpg') %>
				</div>
				<div class='subCatLabel'>Accessories</div>
			</div>
		</div>
		<div id='menCat' class='catCont'>
			<div  id='Men Shirt'  class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menShirt.jpeg') %>
				</div>
				<div class='subCatLabel'>Shirts</div>
			</div>
			<div id='Mens Pants'  class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menPants.jpeg') %>
				</div>
				<div class='subCatLabel'>Pants</div>
			</div>
			<div id='Mens Shorts' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menShorts.jpeg') %>
				</div>
				<div class='subCatLabel'>Shorts</div>
			</div>
			<div id='Mens Swim' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menSwim.jpeg') %>
				</div>
				<div class='subCatLabel'>Swim</div>
			</div>
			<div id='Mens Jacket' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menJacket.jpeg') %>
				</div>
				<div class='subCatLabel'>Jackets</div>
			</div>
			<div id='Mens Shoes' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menShoes.jpeg') %>
				</div>
				<div class='subCatLabel'>Shoes</div>
			</div>
			<div id='Mens Sunglasses' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menShades.jpeg') %>
				</div>
				<div class='subCatLabel'>Shades</div>
			</div>
			<div id='Mens Accessories' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('menAcc.jpeg') %>
				</div>
				<div class='subCatLabel'>Accessories</div>
			</div>


		</div>

	</div>

	<div id='container'>

			<%# render partial: "partial", locals: {var: @var} %>

	</div>


	<div id='loading'>Loading More...</div>


