
	<div id='lgo'>
		<div id='goo'><span>S</span><span>t</span><span>y</span><span>l</span><span>e</span><span></span><span>R</span><span>o</span><span>u</span><span>l</span><span>e</span><span>t</span><span>t</span><span>e</span></div>
		<div id='headerOptions'>
			<div class='optn'>
				<span id='size'>Size</span>
				<div id='sizeSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span id='price'>Price</span>
				<div id='priceSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span id='style'>Style</span>
				<div id='styelSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span id='brand'>Brand</span>
				<div id='wkatSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
		</div>

	</div>
	<div id='statusBar'>
		<span></span>
	</div>
		<div class='actionCall'>Welcome, Pick One:</div>
		<div class='firstOptions'>
			<div id='womenStart' class='firstImageHolder'>
				<img src="<%=@women.inner_text %>" />
				<div class='startLabel'>Women</div>
			</div>
			<div id='menStart' class='firstImageHolder'>
				<img src="<%=@men.inner_text %>" />
				<div class='startLabel'>Men</div>
			</div>
		</div>

	<div class='actionCall or'>Or, Pick a Category:</div>

	<div id='categories'>

		<div id='woCat' class='catCont'>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@women.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@women.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@women.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@women.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@women.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@women.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@women.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>

		</div>
		<div id='menCat' class='catCont'>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@men.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@men.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@men.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@men.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@men.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>
			<div class='subCat'>
				<div class='subCatImg'>
					<img src="<%=@men.inner_text %>" />
				</div>
				<div class='subCatLabel'>Category</div>
			</div>


		</div>

	</div>

	<div id='container'>

			<%# render partial: "partial", locals: {var: @var} %>

	</div>

	<div id='loading'>Loading More...</div>


