

	<div id='lgo'>
		<div id='goo'>
			<span>S</span><span>h</span><span>o</span><span>e</span><span>&nbsp;</span><span>S</span><span>u</span><span>r</span><span>f</span><span>e</span><span>r</span>
			<div id='betaTag'>beta</div>
		</div>
		<div id='search'>
			<input type='text' placeholder='Search'>
		</div>
		<div id='searchIns'>Press Enter</div>
	</div>
	<div id='statusBar'>
		<!-- <div id='navHome'>
			<span>Home</span>
		</div> 
	-->
		<div id='navSex'>
			<!--<span>&nbsp; &gt; &nbsp;</span>
		-->
			<span class='navCont'>Sex</span>
		</div>
		<div id='navCall'>
			<span>&nbsp; &gt; &nbsp;</span>
			<span class='navCont'>Call</span>
		</div>
	</div> 
		<div class='actionCall'>Welcome, Pick One:</div>
		<div class='firstOptions'>
			<div id='womenStart' class='firstImageHolder'>
				<%= image_tag('womenFront.jpeg') %>
				<div class='startLabel'>Women</div>
			</div>
			<div id='menStart' class='firstImageHolder'>
				<%= image_tag('menFront.jpeg') %>
				<div class='startLabel'>Men</div>
			</div>
		</div>

	<div class='actionCall or'>Or, Pick a Category:</div>

	<div id='categories'>

		<div id='woCat' class='catCont'>
			<div id='Athletic Shoes' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wActive.jpeg') %>
				</div>
				<div class='subCatLabel'>Active</div>
			</div>
			<div id='Sandals' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wSandal.jpeg') %>
				</div>
				<div class='subCatLabel'>Sandals</div>
			</div>
			<div id='Flats' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wFlat.jpeg') %>
				</div>
				<div class='subCatLabel'>Flats</div>
			</div>
			<div id='Slip On Shoes' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wSlipOn.jpeg') %>
				</div>
				<div class='subCatLabel'>Slip Ons</div>
			</div>
			<div id='Pumps' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wPump.jpeg') %>
				</div>
				<div class='subCatLabel'>Pumps</div>
			</div>
			<div id='Boots' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wBoot.jpeg') %>
				</div>
				<div class='subCatLabel'>Boots</div>
			</div>
			<div id='Outdoor shoes' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('wOutdoor.jpeg') %>
				</div>
				<div class='subCatLabel'>Outdoors</div>
			</div>
		</div>
		<div id='menCat' class='catCont'>
			<div  id='Athletic Shoes'  class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('mActive.jpeg') %>
				</div>
				<div class='subCatLabel'>Athletic</div>
			</div>
			<div id='Sneakers'  class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('mSneaker.jpeg') %>
				</div>
				<div class='subCatLabel'>Sneakers</div>
			</div>
			<div id='Slip Ons' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('mSlipOn.jpeg') %>
				</div>
				<div class='subCatLabel'>Slip-ons</div>
			</div>
			<div id='Oxfords' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('mOxford.jpeg') %>
				</div>
				<div class='subCatLabel'>Oxfords</div>
			</div>
			<div id='Boots' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('mBoot.jpeg') %>
				</div>
				<div class='subCatLabel'>Boots</div>
			</div>
			<div id='Sandals' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('mSandal.jpeg') %>
				</div>
				<div class='subCatLabel'>Sandals</div>
			</div>
			<div id='Outdoor Shoes' class='subCat'>
				<div class='subCatImg'>
					<%= image_tag('mOutdoor.jpeg') %>
				</div>
				<div class='subCatLabel'>Outdoor</div>
			</div>


		</div>

	</div>

	<div id='container'>

			<%# render partial: "partial", locals: {var: @var} %>

	</div>

	<div id='padding'></div>
	<div id='loading'>Loading More...</div>
	<div id='loadingBottom'>Loading More</div>
	<div id='error'>
		<div>Oh no, we didn't find any results. :(</div>
		<div class='spoofLink'> Go back </div>
	</div>


