	<script type='text/javascript'>
		urls = [];
		titles = [];
		prices = [];
		studios = [];
		pages = [];
  	</script>




	<script type='text/javascript'>

		<% @returned_xml[0].xpath("//DetailPageURL").each do |page| %>
			pages.push('<%= page.inner_text %>')
			console.log('<%= @returned_xml[0]%>')
		<% end %>

		<% @returned_xml[1].xpath("//ImageSet[@Category='primary']/LargeImage/URL").each do |url| %>
			urls.push('<%= url.inner_text %>')
		<% end %>

		<% @returned_xml[2].xpath("//Studio").each do |studio| %>
			studios.push('<%= studio.inner_text %>')
		<% end %>

		<% @returned_xml[3].xpath("//title").each do |title| %>
			titles.push('<%= title.inner_text %>')
		<% end %>

		<% @returned_xml[4].xpath("//FormattedPrice").each do |price| %>
			prices.push('<%= price.inner_text %>')
		<% end %>
  	</script>




	<div id ='leftColumn'>
	</div>
	<div id='lgo'>
		<div id='goo'>Stepindipity</div>
		<div id='tag'></div>
		<div id='headerOptions'>
			<div class='optn'>
				<span>Size</span>
				<div id='sizeSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Price</span>
				<div id='priceSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Style</span>
				<div id='styelSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Wkat</span>
				<div id='wkatSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
		</div>

	</div>
	<div id='container'>
		<div id='imgContain'>

		</div>
	</div>


